# Exercícios de KNN
## Jhonatan Guilherme O. Pereira

## TITANIC DATASET

### 1. Carregar a base TITANIC do seaborn

In [2]:
from seaborn import load_dataset

# carregar base de dados
df = load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

### 2. Observar a relação dos atributos "pclass" com "class"

In [3]:
df[["pclass", "class"]]

     pclass   class
0         3   Third
1         1   First
2         3   Third
3         1   First
4         3   Third
..      ...     ...
886       2  Second
887       1   First
888       3   Third
889       1   First
890       3   Third

[891 rows x 2 columns]

In [4]:
df = df.drop(columns=["class"])
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,man,True,NaN,Queenstown,no,True

### 3. Observar a quantidade de NaN existente no atributo "deck"

In [5]:
df["deck"].isna()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: deck, Length: 891, dtype: bool

In [6]:
df = df.drop(columns=["deck", "alive", "adult_male", "sex", "embarked"])
df

     survived  pclass   age  sibsp  parch     fare    who  embark_town  alone
0           0       3  22.0      1      0   7.2500    man  Southampton  False
1           1       1  38.0      1      0  71.2833  woman    Cherbourg  False
2           1       3  26.0      0      0   7.9250  woman  Southampton   True
3           1       1  35.0      1      0  53.1000  woman  Southampton  False
4           0       3  35.0      0      0   8.0500    man  Southampton   True
..        ...     ...   ...    ...    ...      ...    ...          ...    ...
886         0       2  27.0      0      0  13.0000    man  Southampton   True
887         1       1  19.0      0      0  30.0000  woman  Southampton   True
888         0       3   NaN      1      2  23.4500  woman  Southampton  False
889         1       1  26.0      0      0  30.0000    man    Cherbourg   True
890         0       3  32.0      0      0   7.7500    man   Queenstown   True

[891 rows x 9 columns]

### 4. Remover as linhas que tenham valores NaN

In [7]:
df = df.dropna()
df

     survived  pclass   age  sibsp  parch     fare    who  embark_town  alone
0           0       3  22.0      1      0   7.2500    man  Southampton  False
1           1       1  38.0      1      0  71.2833  woman    Cherbourg  False
2           1       3  26.0      0      0   7.9250  woman  Southampton   True
3           1       1  35.0      1      0  53.1000  woman  Southampton  False
4           0       3  35.0      0      0   8.0500    man  Southampton   True
..        ...     ...   ...    ...    ...      ...    ...          ...    ...
885         0       3  39.0      0      5  29.1250  woman   Queenstown  False
886         0       2  27.0      0      0  13.0000    man  Southampton   True
887         1       1  19.0      0      0  30.0000  woman  Southampton   True
889         1       1  26.0      0      0  30.0000    man    Cherbourg   True
890         0       3  32.0      0      0   7.7500    man   Queenstown   True

[712 rows x 9 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     712 non-null    int64
 1   pclass       712 non-null    int64
 2   age          712 non-null    float64
 3   sibsp        712 non-null    int64
 4   parch        712 non-null    int64
 5   fare         712 non-null    float64
 6   who          712 non-null    object
 7   embark_town  712 non-null    object
 8   alone        712 non-null    bool
dtypes: bool(1), float64(2), int64(4), object(2)
memory usage: 50.8+ KB

### 5. Transformar todos os atributos categóricos usando One-Hot Encoder

In [9]:
import pandas as pd
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

column_transformer = make_column_transformer((OneHotEncoder(), ['who', 'embark_town', 'alone']), remainder='passthrough')

transformed_data = column_transformer.fit_transform(df)
columns_names = column_transformer.get_feature_names_out()
columns_names

array(['onehotencoder__who_child', 'onehotencoder__who_man',
       'onehotencoder__who_woman', 'onehotencoder__embark_town_Cherbourg',
       'onehotencoder__embark_town_Queenstown',
       'onehotencoder__embark_town_Southampton',
       'onehotencoder__alone_False', 'onehotencoder__alone_True',
       'remainder__survived', 'remainder__pclass', 'remainder__age',
       'remainder__sibsp', 'remainder__parch', 'remainder__fare'],
      dtype=object)

In [10]:
df_final = pd.DataFrame(data=transformed_data, columns=columns_names)
df_final.columns = ['is_child', 'is_man', 'is_woman', 'Cherboug_as_embarked_town', 'Queenstown_as_embarked_town', 'Southampton_as_embarked_town', 'not_alone', 'alone', 'survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']
df_final = df_final.drop(['not_alone'], axis=1)
df_final

,is_child,is_man,is_woman,Cherboug_as_embarked_town,Queenstown_as_embarked_town,Southampton_as_embarked_town,alone,survived,pclass,age,sibsp,parch,fare
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,22.0,1.0,0.0,7.2500
1,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,38.0,1.0,0.0,71.2833
2,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,3.0,26.0,0.0,0.0,7.9250
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,35.0,1.0,0.0,53.1000
4,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,3.0,35.0,0.0,0.0,8.0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,39.0,0.0,5.0,29.1250
708,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,27.0,0.0,0.0,13.0000
709,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,19.0,0.0,0.0,30.0000
710,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,26.0,0.0,0.0,30.0000
711,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,3.0,32.0,0.0,0.0,7.7500

### 6. Coluna target é a "survived"

In [11]:
y = df_final['survived'] # dados que queremos prever
X = df_final.drop(labels=['survived'], axis=1) # dados que usaremos para prever

In [12]:
X

,is_child,is_man,is_woman,Cherboug_as_embarked_town,Queenstown_as_embarked_town,Southampton_as_embarked_town,alone,pclass,age,sibsp,parch,fare
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,22.0,1.0,0.0,7.2500
1,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,38.0,1.0,0.0,71.2833
2,0.0,0.0,1.0,0.0,0.0,1.0,1.0,3.0,26.0,0.0,0.0,7.9250
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,35.0,1.0,0.0,53.1000
4,0.0,1.0,0.0,0.0,0.0,1.0,1.0,3.0,35.0,0.0,0.0,8.0500
...,...,...,...,...,...,...,...,...,...,...,...,...
707,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,39.0,0.0,5.0,29.1250
708,0.0,1.0,0.0,0.0,0.0,1.0,1.0,2.0,27.0,0.0,0.0,13.0000
709,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,19.0,0.0,0.0,30.0000
710,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,26.0,0.0,0.0,30.0000
711,0.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,32.0,0.0,0.0,7.7500

### 7. Separar os dados de treinamento e testes

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=None, stratify=y)

In [14]:
X_train

,is_child,is_man,is_woman,Cherboug_as_embarked_town,Queenstown_as_embarked_town,Southampton_as_embarked_town,alone,pclass,age,sibsp,parch,fare
163,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,32.0,1.0,0.0,15.8500
622,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,29.0,0.0,0.0,30.0000
694,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,47.0,1.0,1.0,52.5542
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,22.0,1.0,0.0,7.2500
7,0.0,0.0,1.0,0.0,0.0,1.0,0.0,3.0,27.0,0.0,2.0,11.1333
...,...,...,...,...,...,...,...,...,...,...,...,...
706,0.0,1.0,0.0,0.0,0.0,1.0,1.0,3.0,25.0,0.0,0.0,7.0500
121,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,22.0,1.0,0.0,66.6000
657,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,38.0,0.0,0.0,0.0000
466,0.0,1.0,0.0,0.0,0.0,1.0,1.0,3.0,35.0,0.0,0.0,7.1250
111,0.0,0.0,1.0,0.0,0.0,1.0,1.0,3.0,22.0,0.0,0.0,7.7500

In [15]:
X_test

,is_child,is_man,is_woman,Cherboug_as_embarked_town,Queenstown_as_embarked_town,Southampton_as_embarked_town,alone,pclass,age,sibsp,parch,fare
594,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,19.0,1.0,0.0,53.1000
502,0.0,1.0,0.0,0.0,0.0,1.0,1.0,3.0,32.0,0.0,0.0,7.9250
436,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,17.0,0.0,2.0,110.8833
659,1.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,2.0,4.0,1.0,39.6875
526,0.0,1.0,0.0,0.0,0.0,1.0,1.0,2.0,25.0,0.0,0.0,13.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
663,0.0,1.0,0.0,0.0,0.0,1.0,1.0,3.0,23.0,0.0,0.0,7.8542
539,1.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,14.0,5.0,2.0,46.9000
631,0.0,1.0,0.0,0.0,0.0,1.0,1.0,2.0,39.0,0.0,0.0,13.0000
26,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,28.0,1.0,0.0,82.1708
247,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,18.0,2.0,2.0,262.3750

### 8. Treinar 2 árvores de decisão com características diferentes

In [16]:
from sklearn.tree import DecisionTreeClassifier

tree_1 = DecisionTreeClassifier(criterion='gini', max_depth=4)
tree_2 = DecisionTreeClassifier(criterion='entropy', max_depth=2)

In [35]:
tree_1.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=4)

In [18]:
tree_2.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=2)

### 9. Treinar 2 kNN com características diferentes

In [19]:
from sklearn.neighbors import KNeighborsClassifier

knn_1 = KNeighborsClassifier(n_neighbors=5, metric='euclidean', algorithm='brute')
knn_2 = KNeighborsClassifier(n_neighbors=7, metric='minkowski', algorithm='kd_tree')

In [20]:
knn_1.fit(X_train, y_train)

KNeighborsClassifier(algorithm='brute', metric='euclidean')

In [21]:
knn_2.fit(X_train, y_train)

KNeighborsClassifier(algorithm='kd_tree', n_neighbors=7)

In [22]:
from sklearn import metrics

tree_result_1 = tree_1.predict(X_test)
tree_result_2 = tree_2.predict(X_test)
knn_result_1 = knn_1.predict(X_test)
knn_result_2 = knn_2.predict(X_test)

acc1 = metrics.accuracy_score(tree_result_1, y_test)
show1 = round(acc1 * 100)
print("DecisionTreeClassifier(criterion='gini', max_depth=4) -> {}%".format(show1))

acc2 = metrics.accuracy_score(tree_result_2, y_test)
show2 = round(acc2 * 100)
print("DecisionTreeClassifier(criterion='entropy', max_depth=2) -> {}%".format(show2))

acc3 = metrics.accuracy_score(knn_result_1, y_test)
show3 = round(acc3 * 100)
print("KNeighborsClassifier(algorithm='brute', metric='euclidean', n_neighbors=5) -> {}%".format(show3))

acc4 = metrics.accuracy_score(knn_result_1, y_test)
show4 = round(acc4 * 100)
print("KNeighborsClassifier(algorithm='kd_tree', metric='minkowski', n_neighbors=7) -> {}%".format(show4))

DecisionTreeClassifier(criterion='gini', max_depth=4) -> 79%
DecisionTreeClassifier(criterion='entropy', max_depth=2) -> 77%
KNeighborsClassifier(algorithm='brute', metric='euclidean', n_neighbors=5) -> 64%
KNeighborsClassifier(algorithm='kd_tree', metric='minkowski', n_neighbors=7) -> 64%

## BLOOD TRANSFUSION DATASET

### 1. Carregar a base FLOOD TRANSFUSION

In [24]:
transfusion_df = pd.read_csv('https://raw.githubusercontent.com/tmoura/machinelearning/master/transfusion.data', header=None)
transfusion_df.head()

   0  1   2      3   4
0  1  2  50  12500  98
1  1  0  13   3250  28
2  1  1  16   4000  35
3  1  2  20   5000  45
4  2  1  24   6000  77

In [30]:
transfusion_df.columns = ['blood_donated', 'recency', 'frequency', 'monetary', 'time (months)']
transfusion_df

     blood_donated  recency  frequency  monetary  time (months)
0                1        2         50     12500             98
1                1        0         13      3250             28
2                1        1         16      4000             35
3                1        2         20      5000             45
4                2        1         24      6000             77
..             ...      ...        ...       ...            ...
743              2       23          2       500             38
744              2       21          2       500             52
745              2       23          3       750             62
746              2       39          1       250             39
747              2       72          1       250             72

[748 rows x 5 columns]

- Recency (months since last donation);
- Frequency (total number of donation);
- Monetary (total blood donated in c.c.);
- Time (months since first donation);
- Blood Donated - a binary variable representing whether he/she donated blood in March 2007 (1 stand for donating blood; 0 stands for not donating blood).

### 2. Coluna *target* é a **blood_donated**

In [31]:
y = transfusion_df['blood_donated'] # dados que queremos prever
X = transfusion_df.drop(labels=['blood_donated'], axis=1) # dados que usaremos para prever

### 3. Separar os dados de treinamento e testes

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=None, stratify=y)

In [33]:
X_train

     recency  frequency  monetary  time (months)
706       14          2       500             29
675       16          3       750             23
84         2          6      1500             28
44         4         20      5000             69
660       15          5      1250             33
..       ...        ...       ...            ...
551        2          6      1500             35
122        2          6      1500             41
38         2         14      3500             57
633       12         15      3750             71
482       23          1       250             23

[598 rows x 4 columns]

### 4. Treinar 2 árvores de decisão com características diferentes

In [36]:
from sklearn.tree import DecisionTreeClassifier

tree_1 = DecisionTreeClassifier(criterion='gini', max_depth=4)
tree_2 = DecisionTreeClassifier(criterion='entropy', max_depth=2)

In [37]:
tree_1.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=4)

In [38]:
tree_2.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=2)

### 9. Treinar 2 kNN com características diferentes

In [39]:
from sklearn.neighbors import KNeighborsClassifier

knn_1 = KNeighborsClassifier(n_neighbors=5, metric='euclidean', algorithm='brute')
knn_2 = KNeighborsClassifier(n_neighbors=7, metric='minkowski', algorithm='kd_tree')

In [40]:
knn_1.fit(X_train, y_train)

KNeighborsClassifier(algorithm='brute', metric='euclidean')

In [41]:
knn_2.fit(X_train, y_train)

KNeighborsClassifier(algorithm='kd_tree', n_neighbors=7)

In [44]:
tree_result_1 = tree_1.predict(X_test)
tree_result_2 = tree_2.predict(X_test)
knn_result_1 = knn_1.predict(X_test)
knn_result_2 = knn_2.predict(X_test)

acc1 = metrics.accuracy_score(tree_result_1, y_test)
show1 = round(acc1 * 100)
print("DecisionTreeClassifier(criterion='gini', max_depth=4) -> {}%".format(show1))

acc2 = metrics.accuracy_score(tree_result_2, y_test)
show2 = round(acc2 * 100)
print("DecisionTreeClassifier(criterion='entropy', max_depth=2) -> {}%".format(show2))

acc3 = metrics.accuracy_score(knn_result_1, y_test)
show3 = round(acc3 * 100)
print("KNeighborsClassifier(algorithm='brute', metric='euclidean', n_neighbors=5) -> {}%".format(show3))

acc4 = metrics.accuracy_score(knn_result_1, y_test)
show4 = round(acc4 * 100)
print("KNeighborsClassifier(algorithm='kd_tree', metric='minkowski', n_neighbors=7) -> {}%".format(show4))

DecisionTreeClassifier(criterion='gini', max_depth=4) -> 77%
DecisionTreeClassifier(criterion='entropy', max_depth=2) -> 76%
KNeighborsClassifier(algorithm='brute', metric='euclidean', n_neighbors=5) -> 75%
KNeighborsClassifier(algorithm='kd_tree', metric='minkowski', n_neighbors=7) -> 75%